body{
    color: #424242;
    background-color: #ECEFF1;
    font-family: sans-serif;
}

h2{
    display:inline-block;
    vertical-align: middle;
    font-size:32px;
    margin: 20px 0px;
}

body{
    color: #424242;
    background-color: #ECEFF1;
    font-family: sans-serif;
}

img{
    width: 150px;
}

span{
    margin
}